# NODE7 resource permission files
# Loaded before resources start.

exec @ox_lib/permissions.cfg
exec @ox_target/permissions.cfg
exec @progressbar/permissions.cfg
exec @node7-lockpick-minigame/permissions.cfg
exec @node7-handcuff-minigame/permissions.cfg
exec @node7-handcuffs/permissions.cfg
exec @node7-lawmen/permissions.cfg
exec @node7-dispatch/recipe/permissions.cfg
exec @node7-density/recipe/permissions.cfg
exec @node7-input/permissions.cfg
exec @node7-admincoords/permissions.cfg
